body,
.wrapper {
  height: 100%;
}

.cover, main {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
  padding-top: 70px;
  margin: -120px auto 0 auto;
  width: 85%;
  border: 1px dotted red;
}