.multicard-content {
  height: 530px;
  border-radius: 20px;
  margin: 15px;
  margin-bottom: 20px;
  padding: 8px;
  background: linear-gradient(#deebf1, #fff, #fff);
}
.multicard-content_title {
  text-align: center;
}
.multicard-content_card-group {
  display: flex;
  justify-content: space-around;
}
