@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
.header {
  height: 210px;
  background-color: #344c68;
}
.header_content {
  width: 80%;
  margin: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.header_content_title {
  margin: 15px 50px;
  font-size: 5rem;
}
.header_content_title_span-yellow {
  color: #FFF079;
}
.header_content_contactBlock {
  display: flex;
  align-items: center;
  margin-right: 40px;
  height: 155px;
}
.header_content_contactBlock_groupBtn {
  background-color: #FFF079;
  border-radius: 5px;
  width: 240px;
  height: 50px;
  font-size: 1.3rem;
}
.header_content_groupBtn_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
.header_content_groupBtn_btn {
  list-style: none;
  text-align: center;
  width: 100%;
  color: #CABD4B;
  box-sizing: border-box;
}
.header_content_groupBtn_btn:first-child {
  border-right: 1px solid;
}
.header_content_groupBtn_btn a {
  width: 100%;
  color: #B1A436;
  text-decoration: none;
}
.header_content_groupBtn_btn a:hover {
  color: #ff0000;
}
.header_content_contactBlock_contacts {
  width: 225px;
  margin-right: 30px;
  font-size: 1.5rem;
}
.header_content_contactBlock_contacts_phone {
  margin-top: -18px;
  font-size: 2.3rem;
  position: relative;
}
.header_content_contactBlock_contacts_phone:before {
  font-family: FontAwesome;
  content: "\f095";
  position: absolute;
  left: -40px;
  top: 5px;
  font-size: 3rem;
  color: #FFF079;
  transform: rotate(30deg);
}
